---
import Dashboard from "../../../../layouts/Dashboard.astro";
import { ICONS } from "../../../../constants";
import { openDB } from "../../../../utils/db";
import ModalEligibleUsers from "./modal-eligible-users.astro";
import DeleteEligibleUsers from "./delete-eligible-users.astro";

const db = await openDB();

const eligibleUsers = await db.all("SELECT * FROM eligible_users");
---

<Dashboard pageTitle="Eligible Users">
  <section
    slot="content"
    class="card bg-white w-full rounded-none py-12 px-12 shadow-sm"
  >
    <div class="flex justify-between items-center gap-4 flex-wrap mb-6">
      <h2 class="text-xl font-semibold">Eligible Users</h2>
      <button
        class="btn btn-neutral rounded-none w-[140px]"
        onclick="modal_eligible_new.showModal()"
      >
        Create
      </button>
      <ModalEligibleUsers id={"new"} />
    </div>
    <div
      class="overflow-x-auto"
      x-data="{
        selected: [],
        toggle(id) {
          if (this.selected.includes(id)) {
            this.selected = this.selected.filter(i => i !== id);
          } else {
            this.selected.push(id);
          }
        },
        isAllSelected() {
          let inputs = document.querySelectorAll(`input[name='eligible_id']`);
          return inputs.length && this.selected.length === inputs.length;
        },
        toggleAll() {
          let inputs = document.querySelectorAll(`input[name='eligible_id']`);
          if (this.isAllSelected()) {
            this.selected = [];
          } else {
            let newSelect = []
            inputs.forEach(i=>{
              newSelect.push(i.value)
            })
            this.selected = newSelect;
          }
        }
    }"
    >
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>
                No.
              </th>
              <th class="text-black">Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {
              eligibleUsers.length > 0 &&
                eligibleUsers.map((user: any, index: number) => (
                  <tr>
                    <td>
                      {index + 1}.
                    </td>
                    <td class="text-black">{user.email}</td>
                    <td class="relative">
                      <div class="flex gap-4 items-center">
                        <button
                          class="cursor-pointer"
                          data-id={user.id}
                          @click="document.getElementById('modal_eligible_' + $el.dataset.id).showModal()"
                        >
                          <ICONS.edit class="fill-black" />
                        </button>
                        <button
                          class="cursor-pointer"
                          data-id={user.id}
                          @click="document.getElementById('delete_modal_eligible_' + $el.dataset.id).showModal()"
                        >
                          <ICONS.delete class="fill-black" />
                        </button>
                        <DeleteEligibleUsers id={user.id} />
                        <ModalEligibleUsers id={user.id} />
                      </div>
                    </td>
                  </tr>
                ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
</Dashboard>
