<p>You have received a resource on <strong>{{resourceName}}</strong> with the following details:</p>
<ul>
  <li><strong>Resource Name:</strong> {{resourceName}}</li>
  <li><strong>Role:</strong> {{role}}</li>
  <li><strong>Expired At:</strong> {{expired_at}}</li>
  <li><strong>Next Rotation:</strong> {{next_rotation}}</li>
  <li><strong>Rotation Period:</strong> {{rotationPeriod}}</li>
  <li><strong>Shared By:</strong> {{email}}</li>
</ul>